* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --main-bg-color: #150913;
  --main-text-color: #f35647;
  --main-border-color: #23f9ff;
}

.item {
  margin-top: 0.5rem;
}

#input-text,
#input-status,
#input-config,
#msg-errors,
#input-result-regex,
#input-result-regex {
  color: #23f9ff;
}

.input {
  margin-top: 0.2rem;
}

#app {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  width: 700px;
  padding: 2rem;
}

hr {
  border-color: #588187;
}
h1 {
  color: #fff002;
  font-weight: 800;
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  background: #0e0b16;
  padding: 16 0px;
  font-weight: 500;
  color: #fff5fd;
}

#textarea {
  margin-top: 1rem;
  border: 2px solid var(--main-border-color);
  color: var(--main-text-color);
  background-color: transparent;
  font-weight: 400;
  outline: none;
  height: 400px;
  width: 100%;
  padding: 24px;
  color: #23f9ff;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}

.item {
  padding-top: 0.5rem;
}

.input {
  border: 2px solid var(--main-border-color);
  color: var(--main-text-color);
  background-color: transparent;
  outline: none;
  width: 100%;
  color: #23f9ff;
  padding: 6px;
  font-size: 1rem;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  cursor: move;
}

.scrollbar::-webkit-scrollbar-track {
  border: none;
  background: #290e17;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: none;
  background: #c74851;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border: none;
  background: #c74851;
}

hr {
  margin-top: 0.5rem;
}
